<a href="https://colab.research.google.com/github/ydvpankaj99/Python/blob/master/04_EDAonIoTDataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Package

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip show numpy

Name: numpy
Version: 1.21.6
Summary: NumPy is the fundamental package for array computing with Python.
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email: None
License: BSD
Location: /usr/local/lib/python3.7/dist-packages
Requires:
Required-by: yellowbrick, xgboost, xarray, xarray-einstats, wordcloud, torchvision, torchtext, tifffile, thinc, Theano-PyMC, tensorflow, tensorflow-probability, tensorflow-hub, tensorflow-datasets, tensorboard, tables, statsmodels, spacy, sklearn-pandas, seaborn, scs, scipy, scikit-learn, scikit-image, resampy, qdldl, PyWavelets, python-louvain, pystan, pysndfile, pymc3, pyerfa, pyemd, pycocotools, pyarrow, plotnine, patsy, pandas, osqp, opt-einsum, opencv-python, opencv-contrib-python, numexpr, numba, nibabel, netCDF4, moviepy, mlxtend, mizani, missingno, matplotlib, matplotlib-venn, lightgbm, librosa, Keras-Preprocessing, kapre, jpeg4py, jaxlib, jax, imgaug, imbalanced-learn, imageio, hyperopt, holoviews, h5py, gym, gensim, folium, fix-yahoo-finance, fbprophet, fastdtw, fa2, ecos, daft, cvxpy, cufflinks, cmdstanpy, cftime, bokeh, blis, autograd, atari-py, astropy, arviz, altair, albumentations

In [ ]:
employeesData=["aaa","bbb"]
salariesData=[123,456]
data={'employee':employeesData,'salary':salariesData}

In [ ]:
df=pd.DataFrame(data)
df

  employee  salary
0      aaa     123
1      bbb     456

In [ ]:
#df.head(1)
df.tail(1)

  employee  salary
1      bbb     456

In [ ]:
#df["employee"]
df.salary

0    123
1    456
Name: salary, dtype: int64

# Reading data From Storage

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
strFilePath="/content/data.csv"
df=pd.read_csv(strFilePath,index_col=['Day'])
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [ ]:
#df.loc["Fri","Temperature"]
df.iloc[4,1]

10.51

In [ ]:
df.loc[:,"Temperature"]

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

In [ ]:
df.loc["Thu",:]

Weather        Cloudy
Temperature     14.44
Wind               11
Humidity           22
Name: Thu, dtype: object

In [ ]:
RE=["Thu","Fri"]
CE="Te"
df.loc[]

In [ ]:
df.loc["Thu",:]

Weather        Cloudy
Temperature     14.44
Wind               11
Humidity           22
Name: Thu, dtype: object

In [ ]:
RE=["Thu","Fri"]
CE="Temperature"
df.loc[RE,CE]

Day
Thu    14.44
Fri    10.51
Name: Temperature, dtype: float64

In [ ]:
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [ ]:
RE=["Thu","Fri"]
CE=["Temperature","Wind"]
df.loc[RE, CE]

     Temperature  Wind
Day
Thu        14.44    11
Fri        10.51    26

In [ ]:
CE=["Weather","Wind"]
df.loc["Tue":"Thu",CE]

    Weather  Wind
Day
Tue   Sunny    28
Wed   Sunny    16
Thu  Cloudy    11

In [ ]:
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [ ]:
RC=df.Humidity > 50
df.loc[RC,:]

In [ ]:
RC1=df.Humidity > 50
RC2=df.Weather =="Shower"
df.loc[(RC1) & (RC2),:]

In [ ]:
def fnSelectColumns(argDF):
  colNames=[]
  colNames.append("Humidity")
  colNames.append("Wind")
  return colNames

In [ ]:
fnSelectColumnsLambda= lambda argDF: ["Humidity","Wind"]

In [ ]:
#df.loc[:,fnSelectColumns]
df.loc[:,fnSelectColumnsLambda]