<a href="https://colab.research.google.com/github/ydvpankaj99/Python/blob/master/09_LoadingDataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load From Google Cloud

In [ ]:
!pip install pyspark

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.master("local[1]").appName("test.com").getOrCreate()

In [ ]:
#Step1: Set the enviroment variables
####################################
import os
os.environ['KAGGLE_USERNAME'] = "mujahedtrainer"  #manually input My_Kaggle User_Name 
os.environ['KAGGLE_KEY'] = "b6dce1d893c3af0105339db250d75201"  #manually input My_Kaggle Key

In [ ]:
!pip install -q kaggle

In [ ]:
#Authentication
from kaggle.api.kaggle_api_extended import KaggleApi
api=KaggleApi()
api.authenticate()

In [ ]:
api.dataset_list(file_type="csv")

In [ ]:
api.dataset_download_file("mujahedtrainer/automobile","automobile.csv",path="/content/am/")

True

In [ ]:
!ls /content/am/

automobile.csv

In [ ]:
strPath="/content/am/automobile.csv"
import pandas as pd
df=pd.read_csv(strPath)

In [ ]:
strPath="https://raw.githubusercontent.com/NubeEra-Samples/DataSets/master/duplicateData.csv"
dfPandas=pd.read_csv(strPath)
dfSpark=spark.createDataFrame(dfPandas)
dfSpark.show()

+-------------+-----+
|         name|value|
+-------------+-----+
|    'Project'|    1|
|'Gutenberg’s'|    1|
|    'Alice’s'|    1|
| 'Adventures'|    1|
|         'in'|    1|
| 'Wonderland'|    1|
|    'Project'|    1|
|'Gutenberg’s'|    1|
| 'Adventures'|    1|
|         'in'|    1|
| 'Wonderland'|    1|
|    'Project'|    1|
|'Gutenberg’s'|    1|
+-------------+-----+

In [ ]:
reducingLambda=lambda a,b:a+b

rdd1=dfSpark.rdd
print(rdd1.collect())

[Row(name="'Project'", value=1), Row(name="'Gutenberg’s'", value=1), Row(name="'Alice’s'", value=1), Row(name="'Adventures'", value=1), Row(name="'in'", value=1), Row(name="'Wonderland'", value=1), Row(name="'Project'", value=1), Row(name="'Gutenberg’s'", value=1), Row(name="'Adventures'", value=1), Row(name="'in'", value=1), Row(name="'Wonderland'", value=1), Row(name="'Project'", value=1), Row(name="'Gutenberg’s'", value=1)]

In [ ]:
rdd2=rdd1.reduceByKey(reducingLambda)
for element in rdd2.collect():
  print(element)

("'Project'", 3)
("'Gutenberg’s'", 3)
("'Alice’s'", 1)
("'Adventures'", 2)
("'in'", 2)
("'Wonderland'", 2)